const Discord = require('discord.js');

module.exports = {
  name: "auto",
  alias: [],
execute (client, message, args) {
    
    const row = new Discord.MessageActionRow()
    .addComponents(
        [
        new Discord.MessageButton()
        .setCustomId("")//tu custom id
        .setLabel("")
        .setStyle("")//recomendado primary
        .setEmoji("")
        ],
    )

    const embed = new Discord.MessageEmbed()
    .setTitle("")
    .setDescription("")
    .setColor("")

    message.channel.send({ embeds:  [embed],  components: [row] })



        
  }

}
